/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #CED4DA;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    /* background-color: #f8f9fa; */

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
  }
  
  #flyer, #draft-message {
    padding: 15px;
    margin: 10px;
  }
  
  #flyer {
    flex: 1;
    max-width: 600px;
  }
  
  #flyer img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

  }
  
  #draft-message {
    flex: 1;
    max-width: 600px;
  }
  
  #draft-message h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  #draft-message p {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.5;
  }
  
  .register-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #212529;
    color: white;
    border: 2px solid #212529;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.7s ease;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);

  }
  
  .register-button:hover {
    background-color: #e9ecef;
    color: #212529;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    #flyer, #draft-message {
      max-width: 100%;
    }
  }
  